In [110]:
import pandas as pd

In [111]:
file_name = r'C:\Users\charl\OneDrive\Documents\Datasets\Sports\NBA\PrizePicks\Daily Prop NBA.xlsx'

In [112]:
pp_df = pd.read_excel(file_name, index_col=None, header=None)

In [113]:
# this is raw PrizePicks data

pp_df

                     0
0          Joel Embiid
1          Joel Embiid
2            PHI - C-F
3               vs DET
4         Start: 00:18
..                 ...
830  vs PHX Wed 6:10pm
831                  7
832             Points
833               LESS
834               MORE

[835 rows x 1 columns]

In [114]:
# This is to reset index of pp_df(raw prize picks data)

pp_df_format = pp_df[0::9]
pp_df_format.reset_index(inplace=True, drop=True)
pp_df_format

                      0
0           Joel Embiid
1       Cade Cunningham
2          Tyrese Maxey
3      Bojan Bogdanovic
4         Tobias Harris
..                  ...
88               Points
89                 LESS
90                 MORE
91       Day'Ron Sharpe
92  Dorian Finney-Smith

[93 rows x 1 columns]

In [118]:
# player projection
# this is taking every 7th row of raw PrizePicks data starting at the 5th row. This data will be appeneded to pp_df_format
# index is also reset in this section

pp_df_format_projections = pp_df[5::9]
pp_df_format_projections.reset_index(inplace=True, drop=True)
pp_df_format_projections

                    0
0                33.5
1                21.5
2                27.5
3                  20
4                14.5
..                ...
88            BKN - C
89  vs PHX Wed 6:10pm
90                6.5
91             Points
92               LESS

[93 rows x 1 columns]

##### pp_df_format['points_proj'] = pp_df_format_projections
pp_df_format

In [98]:
# player team data
# this is taking every 7th row of raw PrizePicks data starting at the 2nd row. This data will be appeneded to pp_df_format_projections
# index is also reset in this section


pp_df_format_team = pp_df[2::7]
pp_df_format_team.reset_index(inplace=True, drop=True)
pp_df_format_team

                       0
0              PHI - C-F
1        Cade Cunningham
2                   LESS
3                   27.5
4                 vs PHI
..                   ...
114               Points
115                 15.5
116    vs PHX Wed 6:10pm
117              BKN - C
118  Dorian Finney-Smith

[119 rows x 1 columns]

In [99]:
# team data appended to pp_df_format

pp_df_format['team'] = pp_df_format_team
pp_df_format

C:\Users\charl\AppData\Local\Temp\ipykernel_38728\1481757876.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_df_format['team'] = pp_df_format_team

                    0   points_proj                 team
0         Joel Embiid          33.5            PHI - C-F
1                LESS        vs PHI      Cade Cunningham
2                21.5  Tyrese Maxey                 LESS
3              vs DET          MORE                 27.5
4    Bojan Bogdanovic        Points               vs PHI
..                ...           ...                  ...
115           BKN - G          MORE                 15.5
116     Royce O'Neale          LESS    vs PHX Wed 6:10pm
117    Day'Ron Sharpe        Points              BKN - C
118              MORE             7  Dorian Finney-Smith
119              LESS           NaN                  NaN

[120 rows x 3 columns]

In [100]:
# stripping team name by extracting team name before dash and removing any blanks

pp_df_format_team_clean = pp_df_format['team'].str.split('-', 1).str[0].str.strip()
pp_df_format_team_clean

C:\Users\charl\AppData\Local\Temp\ipykernel_38728\620955631.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  pp_df_format_team_clean = pp_df_format['team'].str.split('-', 1).str[0].str.strip()

0                    PHI
1        Cade Cunningham
2                   LESS
3                    NaN
4                 vs PHI
             ...
115                  NaN
116    vs PHX Wed 6:10pm
117                  BKN
118        Dorian Finney
119                  NaN
Name: team, Length: 120, dtype: object

In [101]:
# extracted team name replaces old PrizesPicks 'team - position' format

pp_df_format['team'] = pp_df_format_team_clean
pp_df_format

C:\Users\charl\AppData\Local\Temp\ipykernel_38728\2313820590.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_df_format['team'] = pp_df_format_team_clean

                    0   points_proj               team
0         Joel Embiid          33.5                PHI
1                LESS        vs PHI    Cade Cunningham
2                21.5  Tyrese Maxey               LESS
3              vs DET          MORE                NaN
4    Bojan Bogdanovic        Points             vs PHI
..                ...           ...                ...
115           BKN - G          MORE                NaN
116     Royce O'Neale          LESS  vs PHX Wed 6:10pm
117    Day'Ron Sharpe        Points                BKN
118              MORE             7      Dorian Finney
119              LESS           NaN                NaN

[120 rows x 3 columns]

In [102]:
# player opponent
# this is taking every 7th row of raw PrizePicks data starting at the 4th row. This data will be appeneded to pp_df_format
# index is also reset in this section

pp_df_format_opponent = pp_df[4::7]
pp_df_format_opponent.reset_index(inplace=True, drop=True)
pp_df_format_opponent

                     0
0         Start: 04:13
1              DET - G
2         Tyrese Maxey
3                 LESS
4                   20
..                 ...
114               MORE
115               LESS
116             Points
117                6.5
118  vs PHX Wed 6:10pm

[119 rows x 1 columns]

In [103]:
# extracted team name replaces old PrizesPicks 'team - position' format
# strip reference: https://stackoverflow.com/questions/35657918/series-object-has-no-attribute-strip
# trim reference:https://stackoverflow.com/questions/40950310/strip-trim-all-strings-of-a-dataframe

pp_df_format['opp'] = pp_df_format_opponent
pp_df_format['opp'] = pp_df_format['opp'].str.strip('vs ')
pp_df_format['opp'] = pp_df_format['opp'].str.strip()
pp_df_format

C:\Users\charl\AppData\Local\Temp\ipykernel_38728\3438151451.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_df_format['opp'] = pp_df_format_opponent
C:\Users\charl\AppData\Local\Temp\ipykernel_38728\3438151451.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_df_format['opp'] = pp_df_format['opp'].str.strip('vs ')
C:\Users\charl\AppData\Local\Temp\ipykernel_38728\3438151451.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_df_format['opp'] = pp_df_format['opp'].str.strip()

                    0   points_proj               team             opp
0         Joel Embiid          33.5                PHI    Start: 04:13
1                LESS        vs PHI    Cade Cunningham         DET - G
2                21.5  Tyrese Maxey               LESS    Tyrese Maxey
3              vs DET          MORE                NaN            LESS
4    Bojan Bogdanovic        Points             vs PHI             NaN
..                ...           ...                ...             ...
115           BKN - G          MORE                NaN            LESS
116     Royce O'Neale          LESS  vs PHX Wed 6:10pm           Point
117    Day'Ron Sharpe        Points                BKN             NaN
118              MORE             7      Dorian Finney  PHX Wed 6:10pm
119              LESS           NaN                NaN             NaN

[120 rows x 4 columns]

In [104]:
# reference [extract after certain character]: https://stackoverflow.com/questions/59913682/pandas-extract-a-string-starting-with-a-particular-character

pp_df_format_pos_test = pp_df[2::7]
pp_df_format_pos_test.reset_index(inplace=True, drop=True)
pp_df_format_pos_test.rename( columns={0 :'pos'}, inplace=True )
pp_df_format['pos'] = pp_df_format_pos_test.pos.str.extract('-(.*)')
pp_df_format['pos'] = pp_df_format['pos'].str[1:2]

C:\Users\charl\AppData\Local\Temp\ipykernel_38728\2521671063.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_df_format_pos_test.rename( columns={0 :'pos'}, inplace=True )
C:\Users\charl\AppData\Local\Temp\ipykernel_38728\2521671063.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_df_format['pos'] = pp_df_format_pos_test.pos.str.extract('-(.*)')
C:\Users\charl\AppData\Local\Temp\ipykernel_38728\2521671063.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_df_format['pos'] = pp_df_format['pos'].str[1:2]

In [105]:
pp_df_format

                    0   points_proj               team             opp  pos
0         Joel Embiid          33.5                PHI    Start: 04:13    C
1                LESS        vs PHI    Cade Cunningham         DET - G  NaN
2                21.5  Tyrese Maxey               LESS    Tyrese Maxey  NaN
3              vs DET          MORE                NaN            LESS  NaN
4    Bojan Bogdanovic        Points             vs PHI             NaN  NaN
..                ...           ...                ...             ...  ...
115           BKN - G          MORE                NaN            LESS  NaN
116     Royce O'Neale          LESS  vs PHX Wed 6:10pm           Point  NaN
117    Day'Ron Sharpe        Points                BKN             NaN    C
118              MORE             7      Dorian Finney  PHX Wed 6:10pm    m
119              LESS           NaN                NaN             NaN  NaN

[120 rows x 5 columns]

In [106]:
pp_df_format.rename( columns={0 :'player_name'}, inplace=True )
pp_df_format

C:\Users\charl\AppData\Local\Temp\ipykernel_38728\3577556726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_df_format.rename( columns={0 :'player_name'}, inplace=True )

          player_name   points_proj               team             opp  pos
0         Joel Embiid          33.5                PHI    Start: 04:13    C
1                LESS        vs PHI    Cade Cunningham         DET - G  NaN
2                21.5  Tyrese Maxey               LESS    Tyrese Maxey  NaN
3              vs DET          MORE                NaN            LESS  NaN
4    Bojan Bogdanovic        Points             vs PHI             NaN  NaN
..                ...           ...                ...             ...  ...
115           BKN - G          MORE                NaN            LESS  NaN
116     Royce O'Neale          LESS  vs PHX Wed 6:10pm           Point  NaN
117    Day'Ron Sharpe        Points                BKN             NaN    C
118              MORE             7      Dorian Finney  PHX Wed 6:10pm    m
119              LESS           NaN                NaN             NaN  NaN

[120 rows x 5 columns]

In [107]:
# reference: https://stackoverflow.com/questions/37926248/how-to-remove-accents-from-values-in-columns

pp_df_format['player_name'] = pp_df_format['player_name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

C:\Users\charl\AppData\Local\Temp\ipykernel_38728\1805273456.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_df_format['player_name'] = pp_df_format['player_name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [108]:
pp_df_format.to_csv(r'C:\Users\charl\OneDrive\Documents\Datasets\Sports\NBA\PrizePicks\PrizePicksFormatted_NBA.csv'
                    , index = False
                    , encoding = 'utf-8-sig'
                   )